<html>
    <head>
        <title>alpaca blog</title>
    </head>
    <body>
        <div>Alpaca Blog</a></h1>
        </div>

        <div>
            <p>published: 06.09.2020, 10:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Испания – Украина. Прогноз и анонс на матч Лиги наций</p>
        </div>

        <div>
            <p>published: 06.09.2020, 10:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Испания – Украина. Прогноз и анонс на матч Лиги наций</p>
        </div>
    </body>
</html>